.tableM {
    margin: 20px;
}

h2 {
    color: #2193b0;
}
header.masthead {
    text-align: center;
    color: white;
     background-image: url("../../../../../assets/header/productos.png"); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
