.card {
    max-width: 400px;
}

.header-image {
    background-size: cover;
}

.close-button {
    float: right;
    top: -24px;
    right: -24px;
    cursor: pointer;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}