<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Detalle Producto<br></mat-card-title>
    </mat-card-header>
    <a href="#"><img mat-card-image src="{{api}}{{product.photo}}" alt="product"></a>
    <mat-card-content>
            <dt>Tipo:</dt>
            <dd>{{product.type}}</dd>
            <dt>Tela:</dt>
            <dd>{{product.fabric}}</dd>
            <dt>Diseño:</dt>
            <dd>{{product.design}}</dd>
            <dt>Cantidad:</dt>
            <dd>{{product.quantity}}</dd>
            <dt>Tamaño:</dt>
            <dd>{{product.size}}</dd>
            <dt>Asa:</dt>
            <dd>{{product.handle}}</dd>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onEditForm(product)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="openDialog()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="primary" id="btnadd" (click)="onClickCerrar()"> Cerrar </button>
    </mat-card-actions>
</mat-card>

