header.masthead {
    text-align: center;
    color: white;
    background-image: url("../../../../../assets/header/fondos paginas 1920x440 px-05-03.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

img.imagen.card-img-top {
    border-radius: 10% 10% 0% 0%;
}

.card {
    width: 80%;
    height: auto;
    border-radius: 10% 10% 0% 0%;
    margin: auto;
}

.detail {
    padding: 10px;
}

.card .imgBx {
    height: auto;
    width: 100%;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    z-index: 1;
    
}

@supports(object-fit: cover) {
    .card .imgBx {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
h1,h3{
    text-align: center;
}
