<div class="wrap-table100">
    <div class="table100">
        <table>
            <tbody [ngClass]="setClasses()">

                <td class="column1">
                    {{ promo.tittle }}
                </td>

                <td class="column2">
                    {{ valueIni | date:'dd MMM yyyy' | lowercase }}
                </td>


                <td class="column3">
                    {{ valueEnd | date:'dd MMM yyyy' | lowercase }}
                </td>

                <td class="column4">
                    <button (click)="onDetail(promo)" class="btn btn-primary">Detalle</button>
                    <button (click)="onDelete(promo)" class="btn btn-primary">Borrar</button>
                    <button (click)="onUpdate(promo)" class="btn btn-primary">Editar</button>
                </td>

            </tbody>
        </table>
    </div>
</div>