<div class="justify-center edit-Form">

    <div mat-icon-button class="close-button" (click)="onCancelar()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </div>

    <h2 mat-dialog-title>Añadir Promocion</h2>

    <div mat-dialog-content>

        <dl>
            <mat-form-field appearance="fill" class="edit-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="tittle" [(ngModel)]="tittle" required>
            </mat-form-field>
        </dl>
        <dl>
            <mat-form-field appearance="fill" class="edit-full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" name="description" [(ngModel)]="description">
            </mat-form-field>
        </dl>
        <dl>
            <mat-form-field appearance="fill" class="edit-full-width">
                <mat-label>Fecha Inicio(mmm/dd/yyy)</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="iniDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </dl>
        <dl>
            <mat-form-field appearance="fill" class="edit-full-width">
                <mat-label>Fecha Fin(mmm/dd/yyy)</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="endDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </dl>
        <dl>
            <label style="color: #646464;">Foto</label>
            <app-usr-subir-imagen [TypeImage]="'Promotions'" (onUploadFinished)="uploadFinished($event)"></app-usr-subir-imagen>
        </dl>

    </div>

    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" (click)="onCancelar()">
            <span class="material-icons">
                clear
            </span>
            Cancelar</button>
        <button mat-raised-button type="submit" (click)="onSubmit()">
            <span class="material-icons">
                done
            </span>
            Aceptar</button>
    </mat-dialog-actions>
</div>