<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <h1>Promocion</h1>
            <p class="lead" id="subtituloB">Obten promociones especiales de Ecomak</p>
        </div>
    </div>
</header>
<div class="col-lg-12">
    <button routerLink="/promos" href="#Promos" mat-raised-button color="primary"><span class="material-icons">
            keyboard_backspace
        </span>Atras</button>
</div>

<div class="container">
    <div class="text-center">
        <h1>{{promo.tittle}}</h1>
    </div>

    <div class="row justify-content-center align-items-center" style="padding: 10px;">
        <div class="col-md-6 col-xs-12 text-center" (click)="openDialog(data)">
            <img [src]="createImgPath(promo.image)" class="circles img-fluid">
        </div>
        <div class="col-md-6 text-left">
            <div class="lib-row lib-header  ">
                <p><b>Desde: </b> {{valueIni}}</p>
                <p><b>Hasta: </b> {{valueEnd}}</p>


            </div>
            <div class="lib-row lib-desc">
                <p ALIGN="justify"><b>Descripción: </b>{{promo.description}}</p>

            </div>
        </div>
    </div>
    <app-usr-list-commentary></app-usr-list-commentary>
</div>