<div class="row-12 bootstrap snippets">
    <div class="col-md-12 col-md-offset-12 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="clearfix"></div>
                <hr>
                <ul>
                    <li class="media">
                        <a href="#" class="pull-left">
                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                        </a>
                        <div class="media-body">
                            <span class="text-muted pull-right">
                                        <small class="text-muted">{{ dateToComment | date:'dd MMM yyyy' | lowercase}}</small>
                                    </span>
                            <strong class="text-success">{{ comment.author }}</strong>
                            <p>
                                {{ comment.comment }}
                            </p>
                        </div>
                    </li>
                </ul>
                <button (click)="openDialog(comment)" class="btn btn-primary">Borrar</button>
                <button (click)="onEsconder(comment)" class="btn btn-primary" *ngIf="comment.show == false">Mostrar</button>
                <button (click)="onEsconder(comment)" type="button" class="btn btn-danger" *ngIf="comment.show">Esconder</button>
            </div>
        </div>
    </div>
</div>