<!-- Portfolio Grid -->
<section class="page-section business" >
    <div class="container empresas">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Clientes</h2>

                <h3 class="section-subheading text-muted">Conoce a nuestros Clientes</h3>

                <!-- <section class="bg-light page-section" id="portfolio"> -->

            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-xs-12 col-md-4 col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-01.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4 col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-02.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4 col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-03.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4 col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-04.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4 col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-05.png" alt="Clients"></div>

            <div class="col-xs-12 col-md-4  col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-06.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4  col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-07.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4  col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-08.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4  col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-09.png" alt="Clients"></div>
            <div class="col-xs-12 col-md-4 col-lg-2" id="centrador"><img
                    src="../../../../../assets/Home Page/LOGOS EMPRESAS-10.png" alt="Clients"></div>
        </div>
    </div>

</section>