<div mat-icon-button class="close-button" (click)="onClickCerrar()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</div>

<h3 mat-dialog-title>Detalle de Cotizacion</h3>

<div mat-dialog-content>

    <div class="row" align="center">
        <div class="col col-12">
            <mat-dialog-actions align="center">
                <h3>Info. Subscriptor</h3>
            </mat-dialog-actions>
            <img src="{{api}}{{quote.imagePath}}" alt="Cotizacion" style="width:300px; height:350px; position:static;">
            <br>
            <b>Nombre:   </b> {{quote.nameSub}}
            <br>
            <b>Correo:   </b> {{quote.emailSub}}
            <br>
            <b>Telefono:   </b> {{quote.phonoSub}}
            <br>
            <b>Empresa:   </b> {{quote.enterpriseSub}}
            <br>
            <b>Mensaje:   </b> {{quote.messageSub}}
            <br>
            <b>Color:   </b> {{quote.quoteColor}}
            <br>
            <b>Cantidad requerida:   </b> {{quote.quantity}}
            <br>
        </div>

        <div class="col col-12">
            <mat-dialog-actions align="center">
                <h3 *ngIf="isProduct">Info. Producto</h3>
                <h3 *ngIf="!isProduct">Info. Trabajo Realizado</h3>
            </mat-dialog-actions>
            <img *ngIf="isProduct" src="{{api}}{{productToQuote.photo}}" alt="Producto" style="width:300px; height:350px; position:static;">
            <img *ngIf="!isProduct" src="{{api}}{{productToQuote.photoTr}}" alt="Trabajo Realizado" style="width:300px; height:350px; position: static;">
            <br>
            <b>Tipo:   </b> {{type}}
            <br>
            <b>Diseño:   </b> {{design}}
            <br>
            <b>Tela: </b> {{fabric}}
            <br>
            <b>Tamaño: </b>{{size}}
            <br>
            <b>Asa: </b>{{handle}}
        </div>
    </div>

</div>


<mat-dialog-actions align="center">

    <button mat-raised-button color="primary" id="btnadd" (click)="onClickCerrar()">
        <span class="material-icons">
            clear
        </span>
         Cerrar </button>

</mat-dialog-actions>