

.card {
    margin-bottom: 20px;
}

header.masthead {
    text-align: center;
    color: white;
    background-image: url("../../../../../assets/header/trabajosRealizados.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.container {
    position: relative;
}
 .mainImage{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    
} 

.upload {
    font-weight: bold;
    color: #28a745;
    margin-left: 15px;
    line-height: 36px;
}


.example-card {
    max-width: 400px;
    width:100%;
  }
  .column {
    float: left;
    width: 10%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .colorSelect {
    width: 30px;
    height: 30px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    border-radius: 50%;  
} 