<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="container-fluid bg-grey py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 ">
            <div class="logo-part">
              <img src="../../../../../assets/navbar/logotr.png" class="w-50 logo-footer">

              <p> Direccion: J. Baptista entre J. Camacho #1016 Cochabamba-Bolivia</p>
              <p> Telefono:    +591-75953647   +591-78350004</p>
              <p> ecomak.bolivia@gmail.com</p>
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h4 class="text"> Acerca de Nosotros</h4>
            <p>Como empresa buscamos producir la mejor bolsa del mercado, que cumpla con los estándares
              tanto nacionales como internacionales. </p>
            <a routerLink="/contacto" class="btn-footer"> Contactanos</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-6">
            <h4 class="text"> Links</h4>
            <div class="row text-left ">
              <div class="col-md-12">
                <ul>
                  <li> <a routerLink="/">Inicio</a> </li>
                  <li> <a routerLink="/promos">Promos</a> </li>
                  <li> <a routerLink="/productos">Productos</a> </li>

              
                  <li> <a routerLink="/quienes-somos">Quienes Somos</a> </li>
                  <li> <a routerLink="/productosTr">Trabajos realizados</a> </li>
                  <li> <a routerLink="/contacto">Contacto</a> </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <h4 class="text"> Contactate con nosotros atraves de nuestras redes sociales!</h4>
            <div class="social">
              <a id="social-icons" class="fb-ic" href="https://www.facebook.com/Ecomak-240824859836961/?ref=br_rs">
                <img  class="logo"src="../../../../../assets/contacto/ICONOS WEB-04.png">
              </a>
              <a id="social-icons" class="li-ic"
                href="https://wa.me/59172202143?text=Quisiera saber mas informacion sobre las bolsas ecologicas">
                <img class="logo"src="../../../../../assets/contacto/ICONOS WEB-05.png">
              </a>

              <a id="social-icons" class="ins-ic" href="https://www.instagram.com/ecomakk/">
                <img class="logo"src="../../../../../assets/contacto/ICONOS WEB-06.png">
              </a>
            </div>
            <form class="form-footer my-3" (ngSubmit)="onSubmit()">
              <a class="btn-footer" (click)="openDialogAdd()"> Suscribirse</a>
              <!-- <input class="subscripcion"type="text text-color-white" name="email" [(ngModel)]="email" placeholder="ingrese su correo ">
              <button type="submit" value="Enviar">Enviar</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>