<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">Productos!</div>
            <div class="intro-lead-in">Los mejores productos para ti...</div>
        </div>
    </div>
</header>

<section class="page-section" id="productos">
<div class="container ">
    <div class="categoria" *ngFor="let category of categorys" >
        <h1>{{category.name}} </h1>
        <app-usr-list-products [category]="category"></app-usr-list-products>
        <hr>
    </div>
</div>
</section>