#eliminar{
	background-color:red;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    width: 90%;
    margin: 0 auto;
    
  }
    
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-cell {
    text-align: center !important;
    justify-content:center;
  }
  .mat-header-cell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  .botones{
    width: 150px;
  }
  #btnadd{
    margin-bottom: 10px;
  }