<nav class="navbar navbar-expand-lg  gris scrolling-navbar fixed-top" id="usrNav">
    <div class="container">
        <a routerLink="/" href="#">
            <div id="Logo">
                <img class="Logo" id="img1" src="../../../../../assets/navbar/LOGOS ECOMAK-01.png">
            </div>
            <div id="Marca">
                <img class="Marca" src="../../../../../assets/navbar/LOGOS ECOMAK-02.png" alt="">
            </div>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons">
                menu
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link" href="#Inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/quienes-somos" class="nav-link" href="#Quines Somos">Quiénes
                        Somos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/productos" class="nav-link" href="#Productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/promociones" class="nav-link" href="#Promociones">Promociones</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/trabajos-realizados" class="nav-link" href="#ProductosTr">Trabajos Realizados</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contacto" class="nav-link" href="#Contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>