<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <h1>Promociones</h1>
            <p class="lead" id="subtituloB">Obten promociones especiales de Ecomak!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="jumbotron ">
        <div class="row  ">
            <div class="col-12" *ngFor="let promo of promos">
                <app-usr-item-promo class="prom d-flex justify-content-center"  [promo]="promo">
                </app-usr-item-promo>
            </div> 
        </div>
    </div>

</div>
