header.masthead {
    text-align: center;
    color: white;
    background-image: url("../../../../../assets/header/promociones.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.prom{
    margin-left: auto;
    margin-right: auto;
    padding: 15px; 
}
