/* #Logoo {
    height: 50px;
    position: absolute;
    padding-left: 3%;
    top: 1px;
    width: 80;
    alt: "";
}

#mainNav {
    background-color:transparent;
    z-index: 2;
}
.navTrans{

    background-color: #fafaface !important;
    text-shadow: 0px;

}
.navbar{
    height: 80px !important;
    text-shadow: 2px 0 0 rgba(255, 255, 255, 0.226), -2px 0 0 rgba(255, 255, 255, 0.226), 0 2px 0 rgba(255, 255, 255, 0.226), 0 -2px 0 rgba(255, 255, 255, 0.226), 1px 1px rgba(255, 255, 255, 0.226), -1px -1px 0 rgba(255, 255, 255, 0.226), 1px -1px 0 rgba(255, 255, 255, 0.226), -1px 1px 0 rgba(255, 255, 255, 0.226);

}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #3fbb19;
}

#mainNav .navbar-brand {
    color: #0b640f;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #dfdfdf;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #04ac12;
}

@media (min-width: 992px) {
    #Logoo {
        height: 150px;
        position: absolute;
        top: 15px;
        left: 15px;
    }
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #0b640f;
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
} */
.Marca {
    height: 45px;
}

.Logo{
    height: 150px;
    position: absolute;
}

.gris{
    background-color:transparent !important;
}

.gris.scrolled{
    background-color: rgba(243, 243, 243, 0.651) !important;
    transition:500ms ease;
}

a{
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
    color:black !important;
}
a:hover{
    color: rgba(66, 189, 66, 0.747) !important;
}
#usrNav{
    z-index: 2;
}