<div mat-icon-button class="close-button" (click)="clickExit()">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</div>


<h2 mat-card-title *ngIf="stepOne">Paso 1 - Personalizar</h2>
<mat-card-subtitle *ngIf="stepOne">Para realizar una cotizacion debe llenar estos espacios presonales por favor.</mat-card-subtitle>

<h2 mat-card-title *ngIf="stepTwo">Paso 2 - Personalizar</h2>
<mat-card-subtitle *ngIf="stepTwo">Elija el color del que desea su bolsa personalizada.</mat-card-subtitle>

<h2 mat-card-title *ngIf="stepThree">Paso 3 - Personalizar</h2>
<mat-card-subtitle *ngIf="stepThree">Elija entra sus imagenes un logo para que este en su bolsa personalizada.</mat-card-subtitle>


<mat-dialog-content>

    <div *ngIf="stepOne">
        <div class="text-center form">
            <mat-form-field class="full-width">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="nameSub" [(ngModel)]="nameSub" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Telefono/Celular</mat-label>
                <input type="number" matInput name="phonoSub" [(ngModel)]="phonoSub" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" name="emailSub" [(ngModel)]="emailSub">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Empresa</mat-label>
                <input matInput type="text" name="enterpriseSub" [(ngModel)]="enterpriseSub">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Mensaje</mat-label>
                <input matInput #message maxlength="256" name="messageSub" [(ngModel)]="messageSub">
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
        </div>

    </div>


    <div *ngIf="stepTwo">


        <div class="row">
            <div *ngFor="let item of a" class="col-3 col-sm-2">
                <div class="colorSelect btn" id="btn-{{item.color}}" (click)="setColor(item)" [ngStyle]="{'background-color': item.codigo}"></div>
            </div>
        </div>


        <br>
        <mat-form-field class="full-width">
            <mat-label>Cuantas bolsas desea ? </mat-label>
            <input type="number" matInput name="Quantity" [(ngModel)]="Quantity" required>
        </mat-form-field>
        <br>
    </div>


    <div *ngIf="stepThree">


        <app-usr-subir-imagen [TypeImage]="'Quotes'" (onUploadFinished)="uploadFinished($event)"></app-usr-subir-imagen>

    </div>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="backOne()" *ngIf="stepTwo"><span class="material-icons">
        arrow_back
        </span>
        Anterior </button>
    <button mat-raised-button color="primary" (click)="backTwo()" *ngIf="stepThree"><span class="material-icons">
        arrow_back
        </span>
         Anterior </button>
    <button mat-raised-button color="primary" (click)="onStepThree()" *ngIf="stepTwo">Siguiente <span class="material-icons">
        arrow_forward
        </span>
    </button>
    <button mat-raised-button color="primary" (click)="onStepTwo()" *ngIf="stepOne"> Siguiente 
        <span class="material-icons">
            arrow_forward
            </span>
    </button>
    <button mat-raised-button color="primary" (click)="onFinalizar()" *ngIf="stepThree"> Finalizar </button>
</mat-dialog-actions>