.imagen {
    border-radius: 50%;
   
}
.card {
    width: 80%;
    height: auto;
    border-radius: 50% 50% 10% 10%;
   
}
.detail {
    padding: 10px;
}
.card .imgBx {
    height: auto;
    width: 100%;
    border-radius: 50%;  
    transition: 0.5s;
    z-index: 1;
}
@supports(object-fit: cover){
    .card .imgBx{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}