
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Detalle Producto</mat-card-title>
    </mat-card-header>
    <a href="#"><img mat-card-image [src]="createImgPath(product.photo)" alt="product"></a>
    <mat-card-content>
        <dl class="param param-feature">
            <dt>Nombre:</dt>
            <dd>{{product.name}}</dd>
        </dl>
        <dl class="param param-feature">
            <dt>Precio</dt>
            <dd>{{product.price}}</dd>
        </dl>
        <dl class="param param-feature">
            <dt>Cantidad minima</dt>
            <dd>{{product.quantity}}</dd>
        </dl>
        <dl class="param param-feature">
            <dt>Estado</dt>
            <dd>{{product.state}}</dd>
        </dl>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onEditForm(product)"> 
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn"(click)="openDialog()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="primary" id="btnadd" (click)="onClickCerrar()"> Cerrar </button>
    </mat-card-actions>
  </mat-card>

