
    <div>
        <button [routerLink]="['/admin/categorias']">Products</button>
        <button [routerLink]="['/admin/categoriasTr']">Trs</button>
        <button [routerLink]="['/admin/promociones']">Promos</button>
        <button [routerLink]="['/admin/subscribe']">Subscribes</button>
        <button [routerLink]="['/admin/cotizaciones']">Cotizations</button>
        <button [routerLink]="['/']">Web</button>
        
        <img src="../../../../../assets/homeAdm/quienes somos background.jpg"width="900" height="200"alt="">

    </div>
