<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">Quienes Somos</div>
            <div class="intro-lead-in">Conoce mas sobre nosotros</div>
        </div>
    </div>
</header>
<section class="page-section" id="productos">
    <div class="container ">
        <div class="margin text-center">
            <h1 class="section-heading text-uppercase">Acerca de nuestra empresa</h1>
        </div>
        <div class="card-deck dialogs mb-3 text-center">
            <div class="card mb-4">
                <img src="../../../../../assets/QuinesSomos/iconos quienes somos 400x400 px-01.png" class="img-card">
                <h2 class="card-title pricing-card-title">Mision</h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <p >Producir bolsas publicitarias de alta calidad, efectividad comercial y con el mejor
                        asesoramiento, que impulsen a empresas y emprendedores a incrementar la demanda con bolsas
                        ecológicas que lleven su marca, servicios y/o productos, para sustituir el uso de bolsas
                        plásticas y crear una conciencia de consumo responsable.</p>
                </ul>
            </div>
            <div class="card middle mb-4 ">
                <img src="../../../../../assets/QuinesSomos/iconos quienes somos 400x400 px-03.png" class="img-card">
                <h2 class="card-title pricing-card-title">Valores</h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <p>Excelencia - responsabilidad – creatividad – pasión – sostenibilidad ambiental</p>
                </ul>
            </div>
            <div class="card mb-4">
                <img src="../../../../../assets/QuinesSomos/iconos quienes somos 400x400 px-02.png" class="img-card">
                <h2 class="card-title pricing-card-title">Vision</h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <p>Trascender nuestras fronteras y consolidarnos como líderes en el mercado de bolsas ecológicas,
                        comprometidos con la innovación de alternativas publicitarias que inspiren el cuidado del medio
                        ambiente. </p>
                </ul>
            </div>
        </div>
    </div>
    <div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="feature-content">
                        <div class="item background1 text-center">
                            <h2>RESEÑA HISTORICA:</h2>
                            <p>Somos un grupo de jóvenes emprendedores bolivianos, con casi 2 años de vida en el mercado
                                nacional. Ecomak surge de la necesidad de iniciar una empresa competitiva e innovadora,
                                que usa la publicidad para la concientización ambiental; creemos que la gente necesita
                                un empaque distinto para sus productos, uno que no sea desechable y llamativo, de esta
                                manera resolvimos producir bolsas ecológicas personalizadas que se destacan por la
                                calidad y estética. </p>
                        </div>
                        <div class="item background2 text-center">
                            <h2>PROCESO INDUSTRIAL:</h2>
                            <p>Somos una fábrica que puede decir orgullosamente ´´hecho en bolivia´´, fabricamos
                                bolsas de tela galleta de todo tipo de tamaño, color y de diferente gramaje. Nos
                                acomodamos a las necesidades de nuestro clientes fabricando las bolsas desde
                                cero con mano de obra nacional, nuestra especilidad es la publicitación de
                                marcas ya sea marcas pequeñas que salen recien al mercado hasta marcas muy
                                grandes ya posicionadas en el mercado nacional. El proceso comienza con el
                                cortado de la tela, pegado de asas, cocido de bolsas y el último paso es
                                serigrafiar o sublimar las bolsas con los respectivos diseños publicitarios.</p>
                        </div>
                        <div class="item background3 text-center">
                            <h2>IMPACTO AMBIENTAL:</h2>
                            <p>Cochabamba desecha al menos 200 toneladas de basura reciclable al año y 96 mil bolsas
                                nylon al día. Ante estas cifras sabemos que no podemos crear un mañana mejor solos, por
                                ello nos especializamos en publicitar para empresas posicionadas en el mercado,
                                emprendedores y entusiastas ambientales que comparten nuestros valores y aspiraciones.
                                Al final, está en nuestras manos aplicar pequeños cambios, pero significativos para
                                tener un mundo más sostenible y éticamente consciente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>