<div class="justify-center edit-Form">

    <div mat-icon-button class="close-button" (click)="onCancelar()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </div>

    <h2 mat-card-title>Añadir Categoria</h2>

    <div mat-dialog-content>

        
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <mat-form-field class="edit-full-width">
                <input matInput placeholder="Nombre de categoria" [(ngModel)]="name" formControlName="categoryName" required>
                <mat-error>
                    Por favor ingrese un nombre de categoria
                </mat-error>
            </mat-form-field>
        </form>
        

    </div>


    <mat-dialog-actions align="end">

        <button mat-raised-button color="warn" (click)="onCancelar()">
            <span class="material-icons">
                clear
            </span>
            Cancelar</button>

        <button mat-raised-button type="submit" (click)="onSubmit()">
            <span class="material-icons">
                done
            </span>
            Aceptar</button>

    </mat-dialog-actions>


</div>