<div class="container">

    <div class="jumbotron ">
        <button routerLink="/admin" mat-raised-button color="primary" id="btnadd"><mat-icon>keyboard_backspace</mat-icon> Atras</button>
        <h1>Cotizaciones</h1>

        <div align="center" *ngIf="showSpinner">
            <br><br><br>
            <mat-spinner></mat-spinner>
            <br><br><br>
            <div class="alert alert-success">
                <strong>Cargando datos...</strong>
            </div>
        </div>

        <div class="alert alert-danger" *ngIf="showError" align="center">
            <strong>Error a conectarse con el servidor.</strong>
        </div>

        <div *ngIf="showSpinner == false">

            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Cotizacion..">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

                <!-- Position Column -->
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nameSub}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.emailSub}} </td>
                </ng-container>

                <ng-container matColumnDef="Telefono">
                    <th mat-header-cell *matHeaderCellDef> Telefono </th>
                    <td mat-cell *matCellDef="let element"> {{element.phonoSub}} </td>
                </ng-container>
                <ng-container matColumnDef="Empresa">
                    <th mat-header-cell *matHeaderCellDef> Empresa </th>
                    <td mat-cell *matCellDef="let element">{{element.enterpriseSub}}</td>
                </ng-container>
                <ng-container matColumnDef="Logo">
                    <th mat-header-cell *matHeaderCellDef> Logo </th>
                    <td mat-cell *matCellDef="let element">
                        <img src="{{api}}{{element.imagePath}}" alt="cotizacion" style="width:60px; height:60px;">
                    </td>
                </ng-container>

                <ng-container matColumnDef="Opciones">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element" class="botones">
                        <div class="example-button-row ">
                            <div class="example-flex-container">
                                <div class="example-button-container  ">
                                    <button mat-mini-fab color="warn" (click)="openDialog(element)" aria-label="Example icon button with a plus one icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                </div>
                                <div class="example-button-container ">
                                    <button mat-mini-fab color="primary" (click)="openDialogDetalle(element)" aria-label="Example icon button with a filter list icon">
                                    <mat-icon>view_list</mat-icon>
                                </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>