<div id="page-top">
  <header class="masthead">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner  ">
        <div class="carousel-item active" id="carusel1">
          <!-- <img class="d-block  mainimage " src="../../../../../assets/Home Page/carrusel 1920x1080px-01.jpg" alt="First slide"> -->
          <div class="carousel-caption ">
            <div class="container">
              <div class="intro-text">
                <div class="intro-heading text-uppercase">BOLSAS REUTILIZABLES</div>
                <div class="intro-lead-in">Publicidad efectiva en movimiento.</div>
              </div>
            </div>
          </div>

        </div>
        <div class="carousel-item " id="carusel2">
          <!-- <img class="d-block  mainimage" src="../../../../../assets/Home Page/carrusel 1920x1080px-02.jpg" alt="Second slide"> -->
          <div class="carousel-caption ">
            <div class="container">
              <div class="intro-text">
                <div class="intro-heading text-uppercase">EL FUTURO NO ES DESECHABLE</div>
                <div class="intro-lead-in">Te ofrecemos la mejor forma de hacer publicidad sostenible para tu empresa.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item " id="carusel3">
          <!-- <img class="d-block mainimage " src="../../../../../assets/Home Page/carrusel 1920x1080px-03.jpg" alt="Third slide"> -->
          <div class="carousel-caption  ">
            <div class="container">
              <div class="intro-text">
                <div class="intro-heading text-uppercase">PIENSA GLOBALMENTE Y ACTÚA LOCALMENTE</div>
                <div class="intro-lead-in">!Deja que tu bolsa reutilizable recorra las calles y se encargue hacer
                  conocer tu
                  marca,
                  productos, servicios, red social, dirección o lo que quieras comunicar!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <!-- Que puedes lograr -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">QUE PUEDES LOGRAR CON UNA BOLSA ECOMAK?</h2>

          <p class="section-subheading text-muted">Los mejores servicios, para los mejores clientes...</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4  circleinicio ">
          <div class="circles" (click)="openDialog(data[0])">
            <h3 class="service-heading">BOLSAS
              PARA FIESTAS</h3>
            <p>Dale un toque de exclusividad a las fiestas de tus seres queridos y un recuerdo diferente a tus
              invitados.</p>
          </div>
        </div>
        <div class="col-md-4 circleinicio">
          <div class="circles2" (click)="openDialog(data[1])">
            <!-- <div class="circles2" data-toggle="modal" data-target="#ShowImagePublicitary"> -->
            <h3 class="service-heading">BOLSAS PUBLICITARIAS</h3>
            <p>Agrega valor a tu producto y a la experiencia de compra de tus clientes, los resultados hablan por sí
              solos.</p>
          </div>
        </div>
        <div class="col-md-4 circleinicio">
          <div class="circles3" (click)="openDialog(data[2])">
            <h3 class="service-heading">BOLSAS PARA CONCIENTIZAR</h3>
            <p>Un mensaje ambiental puede incentivar a generar un gran cambio, deja que tu producto lo haga.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <p class="section-subheading text-muted">Los mejores servicios, para los mejores clientes...</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <img class="servicio-img" src="../../../../../assets/Home Page/ICONOS WEB-01.png" alt="">
          <h4 class="service-heading">ASESORAMIENTO</h4>
          <p class="text-muted">Sabemos que nuestras bolsas son la cara de presentación de tu producto, por eso te
            brindamos atención personalizada, hacemos las bolsas a medida y te ayudamos con el diseño.</p>
        </div>
        <div class="col-md-4">
          <img class="servicio-img" src="../../../../../assets/Home Page/ICONOS WEB-02.png" alt="">

          <h4 class="service-heading">ECOFRIENDLY</h4>
          <p class="text-muted">Nos interesa el cuidado del medio ambientes, por eso nuestra línea de producción no
            genera residuos y nuestras bolsas son reutilizables y reciclables.</p>
        </div>
        <div class="col-md-4">
          <img class="servicio-img" src="../../../../../assets/Home Page/ICONOS WEB-03.png" alt="">
          <h4 class="service-heading">PRECIO Y CALIDAD</h4>
          <p class="text-muted">Destacamos por tener los precios más competitivos del mercado, usar los mejores
            materiales y un constante control de calidad en los detalles.</p>
        </div>
      </div>
    </div>
  </section>
  <app-usr-tabla-empresas></app-usr-tabla-empresas>
</div>
<!-- 
<div class="modal fade" id="ShowImageParty" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <img src="../../../../../assets/Home Page/BOLSAPARABOTELLAS ARRUCHADA.png" class="image">
    </div>
  </div>
</div>
<div class="modal fade" id="ShowImagePublicitary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <img src="../../../../../assets/Home Page/BOLSAPARABOTELLAS.png" class="image">
    </div>
  </div>
</div>
<div class="modal fade" id="ShowImageEco" tabindex="-1" role="dialog" width="auto"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <img src="../../../../../assets/Home Page/BOLSAPLANA.png" class="image">
    </div>
  </div>
</div> -->