<div class="justify-center edit-Form" id="ModalEdit">

    <div mat-icon-button class="close-button" (click)="onCancelar()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
    </div>

    <h2 mat-card-title>Editar Promocion</h2>

    <div mat-dialog-content>
        <dl>
            <mat-form-field appearance="fill" class="edit-full-width">
                <mat-label>Promocion</mat-label>
                <input matInput [(ngModel)]="promoEdit.tittle" required>
            </mat-form-field>
        </dl>
        <dl>
            <mat-form-field appearance="fill" class="edit-full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput [(ngModel)]="promoEdit.description">
            </mat-form-field>
        </dl>
        <dl>
            <mat-form-field>
                <mat-label>Fecha Inicio(mmm/dd/yyy)</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="promoEdit.iniDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </dl>
        <dl>
            <mat-form-field>
                <mat-label>Fecha Fin(mmm/dd/yyy)</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="promoEdit.endDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </dl>
    </div>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" (click)="onCancelar()">
            <span class="material-icons">
                clear
            </span>
            Cancelar</button>
        <button mat-raised-button type="submit" (click)="onSubmitEdit()">
            <span class="material-icons">
                done
            </span>
            Aceptar</button>
    </mat-dialog-actions>
</div>