.carousel-item {
    height: auto;
    max-height: 900px;
    background: no-repeat center center scroll;
    
}
.carousel-item img{
  height: 100%;
}
#carouselExampleIndicators{
  justify-content: left;
}
 
 .circleinicio{
   background-color:rgb(97,167,84);
   width: 100vh;
   max-width: 300px;
   height: 100vh;
   max-height: 300px;
   
   vertical-align:middle;
   border-radius:60%;
   text-align: center;
   margin: 10px;
   justify-content: center;
   color:white;

 }
 .carousel-caption {
  width: 550px;
  margin-top: 50px;
  top: 50% !important;
  transform: translateY(-50%);
  bottom: initial;
  width: auto;
   max-width: 400px;
   height: auto;
  word-break: normal;  
  text-align: left;
 }
 .circles {
   margin-top: 30%;
 }
 .circleinicio h4{
   color: white;
 }
 .circleinicio p{
   color:white;
 }
 
.intro{
  background-color:white;
}
.services{
  background-color: whitesmoke;
}
