<footer class="container-fluid green  py-5">
    <div class="container">
        <div class="col-md-6 ">
            <div class="logo">
                <img src="../../../../../assets/navbar/LOGOS ECOMAK-01.png" class="w-50 logo-footer">
              </div>
        </div>
        <div class="row">
            <div class="grey">
                <h3>Desarrolladores</h3>
                <li>72202143-(Fidel Rojas)</li>
                <li>60782971-(Victor Torrico)</li>
                <li>65347729-(Mauricio Guevara)</li>
                <li>60399827-(Marco Pinto)</li>
                <li>79374530-(Luis Montaño)</li>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <h4 class="text"> Ecomak Copyright © 2020.</h4>
                </div>
            </div>
        </div>
    </div>
</footer>